.modal {
  display: grid;
  grid-template-columns: 20% 80%;

  position: fixed; 
  right: 0;
  width: 0;
  height: 100%;

  top: 0;
  bottom: 0;
  overflow-x: hidden;
  transition: .5s;
}

/* AREA DO BUTÃO */
.modal .area-button {
  display: flex;
  justify-content: center;
  align-items: flex-start;

  background: var(--bg-secondary);
}

.modal .area-button img {
  margin-top: 25px;

  width: 50px;
}

/* AREA DO MENU */
.modal .area-menu {
  display: flex;
  justify-content: center;
  align-items: center;
  background: var(--bg-primary);
}

.modal .area-menu .lista-menu {
  padding: 10px;
  width: 100%;
  list-style: none;
}

.modal .area-menu .lista-menu li {
  margin: 35px 0;
  text-align: center;
}

.modal .area-menu .lista-menu li {
  color: #fff;
  font-size: 30px;
  font-weight: 700;
  line-height: 51px;
}

.modal .area-menu .lista-menu li:hover { 
  border: var(--font-primary) 3px solid;
  border-radius: 1rem;
  background: var(--font-primary);
  color: var(--bg-primary);
  font-weight: 700;
}

/* ===== JANELA DE CONFIRMAÇÃO DO LOGOUT ===== */
.confirmLogout {
  display: flex;
  justify-content: center;
  align-items: center;

  height: 100%;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.4); 
}

.confirmLogout .box-message {
  display: grid;
  justify-content: center;
  align-items: center;

  background: var(--font-primary);
  width: min(25rem, 100%);
  margin: 0 2rem;
  padding: 1rem;
  border-radius: .9rem;
  color: var(--bg-primary);
}

.confirmLogout .box-message .buttons-action {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: .7rem;
}

.confirmLogout .box-message .buttons-action button {
  padding: .5rem;
  font-size: 15px;
  border-radius: 1rem;
  cursor: pointer;
  margin: 0 .5rem;
}

.confirmLogout .box-message .buttons-action button:nth-child(1) {
  background-color: var(--bg-secondary);
  color: var(--font-primary);
}

.confirmLogout .box-message .buttons-action button:nth-child(1):hover {
  background-color: var(--bg-primary);
}

.confirmLogout .box-message .buttons-action button:nth-child(2) {
  background-color: #fff;
  color: var(--bg-primary);
}

.confirmLogout .box-message .buttons-action button:nth-child(2):hover {
  background-color: rgb(235, 235, 235);
}

.hidden {
  display: none;
}

/* ====== JANELA (SOBRE A PLATAFORMA) ====== */
.modal-about {
  position: fixed;
  background: rgba(0, 0, 0, 0.8);
  height: 100%;
  width: 100%;
  top: 0;
  padding: 0 1rem;
}

.modal-about .window {
  background-color: rgb(255, 255, 255);
  border-radius: .4rem;
  padding: .6rem;
  width: min(450px, 100%);
  margin: auto;
  
  position: relative;
  top: 25%;
}

.modal-about .window .content-about {
  text-align: center;
  color: var(--bg-secondary);
}

.modal-about .window .content-about p {
  border: 2px solid var(--bg-secondary);
  font-size: 1.1em;
  color: rgb(56, 56, 56);
  border-radius: .5rem;
  padding: .3rem;
}

.modal-about .window .close-about {
  text-align: center;
  padding: .6rem 0;
}

.modal-about .window .close-about span {
  background: var(--bg-secondary);
  color: #fff;
  padding: .4rem;
  border-radius: .4rem;
  cursor: pointer;
}

